<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<div>
  <h1>Comments</h1>
</div>

<div>
  <ul>
    <% @user.comments.each do |comment| %>
      <h3><li><%= comment.content %></li></h3>
    <% end %>
  </ul>
</div>

<div>
  <a href="/readings"><input type="submit" value="Readings"></a>
</div>

<br />
