<h1>Thanks for Signing Up!</h1>

<% if flash.has?(:message) %>
  <h2><strong><%= flash[:message] %></strong></h2>
<% end %>

<form action="/signup" method="post">

  <h3><label for="username">Username:</label></h3>
  <input type="text" name="user[username]" placeholder="Username">

  <br>

  <h3><label for="password">Password:</label></h3>
  <input type="password" name="user[password]" placeholder="Password">

  <br>
  <br>

  <input type="submit" value="Submit">

</form>

Already have an account? Login <a href="/login">here</a>
