<h1><%= @profile_delete_msg if @profile_delete_msg %></h1>

<center>
  <h1>Welcome to your BP Tracker</h1>
  <h2>The BEST place to keep track of your blood pressure!</h2>

  <h3> Please <a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a>
       to continue. </h3>
</center>
